body{
    display: flex;    
    background-color: rgb(197, 191, 191);
}

#drum-machine{
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%,-50%);
    width: 70%;
    padding: 2%;
    border: 1px solid black;
    background-color: white;
    box-shadow: 2px 2px 2px black;
}

#display{
    height: 30px;
    margin: auto;
    text-align: center;

}
.drum-pad{
    border: 1px solid white ;
}

@media all and (max-width: 600px){
    .row{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #display{
        margin-top: 2%;
        width: 100%;
    }
}